<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блок сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header "> </header>
<style>
    h5{
        font-size: 120%!important;
        line-height: 60%!important;
        font-family: 'IBM Plex Sans',Arial,sans-serif;
    }
</style>
<div class="container mt-5">
    <h1>Тренинги</h1>
    <div th:each="el :${trainings}" class="alert alert-secondary mt-2">
        <h3 th:text="${el.title}"></h3><br>
        <p th:text="${el.description}" ></p><br>
        <h5>Тренер:</h5>
        <p th:text="${el.trainer}" ></p>
        <p th:text="${el.countPlace}" ></p>
        <a th:href="'/admin/blog/' + ${el.id}" class="btn btn-light">Подробнее</a>
        <a th:href="'/admin/blog/addTest'" class="btn btn-light">Добавить тестирование</a>
    </div>
</div>


</body>
</html>