<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<style type="text/css">
    html, body {
        height : 100%;
        font-family: Optima, sans-serif;
    }
    .content {
        text-align:justify;
        position: relative;
        min-height: 120px;
        max-width: 720px;
        margin: auto;
        padding: 24px;
    }
</style>
<body>
<div class="wrapper">
    <div class="content">
        <p th:utext="${training.content}"></p>
    </div>
</div>
</body>
</html>